:root {
  --first_color: #e7eaf6;
  --second_color: #a2a8d3;
  --third_color: #38598b;
  --fourth_color: #113f67;
}
@font-face {
  font-family: 'OpenSansVariable';
  src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 300 800;
  font-stretch: 75% 100%;
}
@font-face {
  font-family: 'OswaldVariable';
  src: url('../fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 700;
}
@font-face {
  font-family: 'RalewayVariable';
  src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}
html,
.homepage-body {
  position: absolute;
  left: 0px;
  overflow-x: hidden;
  width: 100vw;
}
.homepage-body {
  height: 200vh;
  margin: 0;
  background-color: var(--first_color);
  color: var(--fourth_color);
  padding-top: 150px;
  padding-left:10vw ;
  padding-right:10vw;
  background-image: url(../img/menu-bg.png);
  background-size: cover;
  font-family: "OpenSansVariable";
}
.logo {
  position: fixed;
  display: inline-block;
  margin-left: 15.833%;
  width:120px;
}
.dropdown:hover {
  cursor: pointer;
}
.navbar {
  font-family: "RalewayVariable";
  font-weight: 500;
  box-shadow: 0px 0px 5px var(--third_color);
  height: 105px;
  transition: height 0.7s;
  
}
.nav-item {
  position: relative;
}
.nav-link {
  position: relative;
  width: fit-content;
  letter-spacing: 0;
  transition: all 0.8s;
  font-weight: bolder;
  color: var(--fourth_color);
  text-shadow: 0px 0px 3px var(--first_color),0px 0px 2px var(--first_color),0px 0px 4px var(--first_color);
}

.nav-link:hover,
.nav-link:active,.active-link {
  letter-spacing: 4px;
  color: var(--fourth_color);
  text-shadow: 0px 0px 3px var(--first_color),0px 0px 2px var(--first_color),0px 0px 4px var(--first_color);
}

.nav-link:after,
.nav-link:before,.active-link {
  border: 1px solid transparent;
  content: "";
  display: block;
  bottom: 0px;
  margin: 0 auto;
  width: 0;
  transition: .8s;
}

.nav-link:hover:after,
.nav-link:hover:before {
  border-color: var(--third_color);
  transition: width 0.5s;
  width: 70%;
}
.dropdown-item {
  font-weight: bolder;
  color: var(--fourth_color);
}
 .toggle-nav-mob {
  display: none;
}
.shrink-nav {
  padding-top: 0;
  padding-bottom: 0;
}
.nav-mobile {
  transition: 0s;
}
@media screen and (max-width: 767px) {
  .homepage-body {
    padding-top: 100px;
  }
  .main-section-header {
    padding-top: 0px !important;
  }
  .nav-item {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: x-large;
  }
  .navbar {
    padding: 0;
    height: 80px;
    box-shadow: 0px 0px 0px var(--third_color);
  }
  .logo {
    display: none;
  }
  .dropdown {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .dropdown > a {
    margin: auto;
  }
  .dropdown-menu {
    background-color: transparent !important;
    border: 0px solid black !important;
    width: 100%;
    text-align: center;
    font-size: large;
  }
  .dropdown-item {
    margin: 0.5vh auto;
  }
  .dropdown-item:Hover {
    background-color: transparent;
  }
  .nav-mobile {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: -100vh;
    transition: top 0s;
    padding: 5vh 0px;
    align-items: normal !important;
    background-image: url(../../assets/img/menu-bg.png);
    background-size: 100% 100%;
    opacity: 1;
    background-color: var(--second_color);
  }
  .nav-item {
    margin: 3vh auto;
  }
  .bi-list {
    font-weight: 900;
    font-size: xx-large;
    color: var(--fourth_color);
    position: relative;
    top: -6px;
    left: 2.5px;
  }
  .bi-x-lg {
    font-weight: 900;
    font-size: xx-large;
    color: var(--fourth_color);
    position: relative;
    top: -6px;
    left: 2.5px;
  }
  .toggle-nav-mob:hover .bi-list,  .toggle-nav-mob:hover .bi-x-lg {
    color: var(--first_color);
  }
  
  .toggle-nav-mob {
    border: 2px solid var(--fourth_color);
    border-radius: 7px;
    height: 40px;
    width: 40px;
    display: block;
    position: absolute;
    right: 20px;
    z-index: 2500;
    cursor: pointer;
 
  }
  .toggle-nav-mob:hover {
    border: 1px solid var(--fourth_color);
    background-color: var(--third_color);
  }
  .animateDown {
    animation: down 1s forwards;
  }
  .animateUp {
    animation: up 1s forwards;
  }
  @keyframes down {
    0% {
      top: -100vh;
    }
    100% {
      top: 0vh;
    }
  }
  @keyframes up {
    0% {
      top: 0vh;
    }
    100% {
      top: -100vh;
    }
  }
}


#scene {
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -100;
  
}
.parallax-img-1 > img {
  position: absolute;
  left: 85vw;
  top: 110px;
  min-width: 250px;
  width: 30vw;
  max-width: 300px;
  filter: blur(1.5px);
}
.parallax-img-2 {
  position: relative;
  bottom: -1vh;
}
.parallax-img-2 > img {
  position: absolute;
  left: -6vw;
  bottom: -4vh;
  min-width: 350px;
  width: 30vw;
  filter: blur(1.5px);
}

.banner-img-wp {
  z-index: 5;
  padding: 45px 0px;
  padding-left: 3rem;
}

.banner-img {
  width: 100%;
  background-size: cover;
  background-position: center;
  animation: biani 4.5s linear infinite alternate;
  box-shadow: 0px 0px 15px var(--fourth_color);
}

@keyframes biani {
  0% {
      border-radius: 48% 52% 57% 43% / 34% 44% 56% 66%;
  }
  25% {
      border-radius: 62% 38% 64% 36% / 34% 55% 45% 66%;
  }
  50% {
      border-radius: 43% 57% 51% 49% / 33% 42% 58% 67%;
  }
  100% {
      border-radius: 40% 60% 43% 57% / 52% 32% 68% 48%;
  }
}
@media screen and (max-width:991px) {
  .banner-img-wp {
    padding-left: 0px;
  }
}
.main-section-header {
  padding: 6rem 5rem 1rem;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 0px 0px 2px var(--third_color);
  font-family: "RalewayVariable";
}
.main-section-desc {
  font-size: 1.5rem;
  text-shadow: 0px 0px 3px var(--first_color);
  font-weight: 500;
}
.dropdown-menu {
  background-color: var(--first_color);
  border: 1px solid var(--fourth_color);
}
.dropdown-item:hover {
  background-color: var(--fourth_color);
  color: var(--first_color);
}
#theme-toggle {
  position: absolute;
  width: 25px;
  height: 20px;
  border: 5px solid var(--third_color);
  border-radius: 10px;
  right: 1vw;
}
@media screen and (max-width: 767px) {
#theme-toggle {
  position: absolute;
  left: 10vw;
  top: 10vw;
}
}
.check-menu {
  padding: 5px 10px;
  background-color: var(--third_color);
  border-radius: 20px;
  border: 1px solid var(--fourth_color);
  box-shadow: 0px 0px 3px var(--second_color);
}
.check-menu:hover {
  background-color: var(--second_color);
}
.check-menu a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--first_color);
  text-decoration: none;
}
.check-menu a:hover {
  color: var(--fourth_color);
}
.row {
  position: relative;
}
.row::after {
  content: "";
  display: block;
  position: absolute;
  box-shadow: 0x 0px 3px var(--first_color);
  width: 70vw;
  height: 2px;
  background-color: var(--fourth_color);
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}
.sec1 {
  padding-bottom: 200px;
}








   /* about-style */

.script-font {
  font-family: 'Dancing Script' ,cursive ;
}

.about-body{
  margin: 0;
  background-color: var(--first_color);
  padding-top: 150px;
  padding-left:10vw ;
  padding-right:10vw;
  background-image: url(../img/menu-bg.png);
}

.about-section {
    background-image: url('../../assets/img/about-restaurant1.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
    
}

.about-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb-custom {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.breadcrumb-custom .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.section-title {
   
    text-shadow: 0px 0px 2px var(--third_color);
}

.cocktail-section {
  height: 400px;
  overflow: hidden;
  text-shadow: 0px 0px 2px var(--third_color);
}

.cocktail-section img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%; 
  
} 
